/* Formulario en pantallas medianas (max-width: 992px) */
@media (max-width: 992px) {
    .card {
        padding: 10px;
    }

    .form-control {
        font-size: 15px;
        padding: 8px;
    }

    .form-label {
        font-size: 0.9rem;
    }

    .container {
        padding: 10px;
    }
}

/* Formulario en pantallas más pequeñas (max-width: 768px) */
@media (max-width: 768px) {
    .row.justify-content-center {
        margin-top: 20px;
    }

    .card {
        width: 90%;
        margin: 0 auto;
    }

    .btn {
        padding: 10px 15px;
    }
}

/* Muy pequeñas pantallas (max-width: 576px) */
@media (max-width: 576px) {
    h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    .form-label {
        font-size: 0.8rem;
    }

    .btn {
        font-size: 0.9rem;
    }

    footer {
        font-size: 0.8rem;
    }
}
